# Everything in bin except AIR descriptor
bin/
!bin/resourcely-app.xml

# Everything in build except for build.xml, lib-folder and build.properties
build/
!build/lib/*
!build.properties
!build.xml

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
